# @sposadac is default owner for V-pipe repository
# allow DrYak to approve pull requests for the sars-cov2 branch (experimental code)
*	@sposadac, @DrYak

# @sposadac defines code owners
.github/CODEOWNERS	@sposadac
