[input]
samples_file = samples.tsv
fastq_suffix =

;# uncomment to use HIV-1 genome annotations in visualization
;metainfo_file = references/metainfo.yaml
;gff_directory = references/gffs/
primers_file =


[output]
snv = False
local = False
global = False

visualization = False

[hmm_align]
leave_msa_temp = true

