[general]
aligner = bwa

[input]
samples_file = samples.tsv
fastq_suffix =
reference = references/NC_045512.2.fasta
gff_directory = references/gffs/
primers_file = references/primers/nCoV-2019.tsv

[output]
snv = True
local = True
global = False

visualization = True

[hmm_align]
leave_msa_temp = true
