<div class="container">
  <div class="hero-carousel">
      {% assign allslides = site.col_heroCarousel | sort: "order" %}
      {% for slide in allslides %}
      <div class="slide">
          {% if slide.video %}
          <div class="video">
              <iframe width="730" height="438" src="{{ slide.video }}" title="Carousel video" allowfullscreen></iframe>
          </div>
          {% else %}
          <div class="image">
              <img src="{{ site.baseurl }}/{{ slide.image }}" alt="{{ slide.title }}">
          </div>
          {% endif %}
          <div class="content">
              <h1>{{ slide.title }}</h1>
              {{ slide.description | markdownify }}
              {% if slide.cta %}
              {% if slide.cta.external_url %}
              <a href="{{ slide.cta.external_url }}" class="cta">{{ slide.cta.text }}</a>
              {% else %}
              <a href="{{ site.baseurl }}/{{ slide.cta.link }}" class="cta">{{ slide.cta.text }}</a>
              {% endif %}
              {% endif %}
          </div>
      </div>
      {% endfor %}
  </div>
</div>

<script>
  $(function () {

    let autoplaySpeed = 5000;
    let adjustedAutoplaySpeed = autoplaySpeed + 500;
    
    $(".hero-carousel").slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      fade: true,
      autoplaySpeed: autoplaySpeed,
      dots: true,
      arrows: false,
      draggable: false,
      pauseOnFocus: false,
      pauseOnDotsHover: false,
      dotsClass: "slider-dots"
    });

    document.documentElement.style.setProperty('--autoplay-speed', adjustedAutoplaySpeed + 'ms');

    function updateAutoplaySpeed(speed) {
      autoplaySpeed = speed;
      adjustedAutoplaySpeed = autoplaySpeed + 500;
      document.documentElement.style.setProperty('--autoplay-speed', adjustedAutoplaySpeed + 'ms');
      $(".slider").slick('slickSetOption', 'autoplaySpeed', autoplaySpeed);
    }
    
    $('.slide').on('mouseenter', function(){
      $('.slick-active button').addClass('resetTimer');
    }).on('mouseleave', function(){
      $('.slick-active button').removeClass('resetTimer');
    });
    
    $('.slider-dots button').on('click', function() {
      $('.slick-active button').removeClass('resetTimer');
    });
    

  });
</script>
