<div class="container">

    <div class="hero-carousel">
        {% assign slide_count = site.fp_heroCarousel | size %}
        {% for slide in site.fp_heroCarousel %}
        <div class="slide{% if forloop.index == 1 %} active{% endif %}">
            {% if slide.video %}
            <div class="video">
                <iframe src="{{ slide.video }}" title="" frameborder="0" allowfullscreen></iframe>
            </div>
            {% else %}
            <div class="image">
                <img src="{{ slide.image }}" alt="{{ slide.title }}">
            </div>
            {% endif %}
            <div class="content">
                <h1>{{ slide.title }}</h1>
                <p>{{ slide.description }}</p>
            {% if slide.cta %}
                <a href="{{ slide.cta.link }}" class="cta">{{ slide.cta.text }}</a>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>  

    <div class="slide-indicators">
        {% for i in (1..slide_count) %}
        <span class="indicator{% if forloop.index == 1 %} active{% endif %}" data-slide-index="{{ forloop.index }}"></span>
        {% endfor %}
    </div>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var slides = document.querySelectorAll('.hero-carousel .slide');
        var indicators = document.querySelectorAll('.slide-indicators .indicator');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide, 5000);

        function nextSlide() {
            if (slides[currentSlide] && indicators[currentSlide]) {
            slides[currentSlide].classList.remove('active');
            indicators[currentSlide].classList.remove('active');
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].classList.add('active');
            indicators[currentSlide].classList.add('active');
            }
        }

        indicators.forEach(function(indicator, index) {
            indicator.addEventListener('click', function() {
            clearInterval(slideInterval);
            if (slides[currentSlide] && indicators[currentSlide]) {
                slides[currentSlide].classList.remove('active');
                indicators[currentSlide].classList.remove('active');
                currentSlide = index;
                slides[currentSlide].classList.add('active');
                indicators[currentSlide].classList.add('active');
                slideInterval = setInterval(nextSlide, 50000);
            }
            });
        });
    });
    </script>
  