<section id="footer">
  <div class="container">
    <div class="row">
      {% for column in site.footer %}
          <div class="column">
              <h2>{{ column.heading }}</h2>
              <ul>
                  {% for link in column.links %}
                      <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
              </ul>
          </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="column">
        <h2>Follow us</h2>
        <div class="social-container">
          <a href="{{ site.baseurl }}/contact/#subscribe-to-our-mailing-list"><img src="{{ site.baseurl }}/assets/img/ic-newsletter.svg" alt="Newsletter Icon" ></a>
          <a href="#"><img src="{{ site.baseurl }}/assets/img/ic-youtube.svg" alt="YouTube Icon" ></a>
          <a href="#"><img src="{{ site.baseurl }}/assets/img/ic-rss.svg" alt="RSS Icon" ></a>
        </div>
      </div>
      <div class="column">
        <h2>Enquiries</h2>
        <div>
          <a href="mailto:v-pipe@bsse.ethz.ch">v-pipe@bsse.ethz.ch</a> ;
          <a href="https://gitter.im/V-pipe/community"><img src="https://badges.gitter.im/repo.svg" alt="Gitter" /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <p>&copy;2024 V-pipe</p>
    </div>
  </div>
</section>
