<section id="footer">
  <div class="container">
    <div class="row">
      {% for column in site.footer %}
          <div class="column">
              <h3>{{ column.heading }}</h3>
              <ul>
                  {% for link in column.links %}
                      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
              </ul>
          </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="column">
        <h1>1</h1>
      </div>
      <div class="column">
        <h1>2</h1>
      </div>
    </div>
    <div class="row">
      <p>&copy;2024 V-pipe</p>
    </div>
  </div>
</section>