<section id="footer">
  <div class="container">
    <div class="row">
      {% for column in site.footer %}
          <div class="column">
              <h3>{{ column.heading }}</h3>
              <ul>
                  {% for link in column.links %}
                      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
              </ul>
          </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="column">
        <h1>Follow us</h1>
        <div class="social-container">
          <a href="#"><img src="assets/img/ic-youtube.svg" alt="YouTube Icon" /></a>
          <a href="#"><img src="assets/img/ic-youtube.svg" alt="YouTube Icon" /></a>
          <a href="#"><img src="assets/img/ic-youtube.svg" alt="YouTube Icon" /></a>
        </div>
      </div>
      <div class="column">
        <h1>Enquiries</h1>
        <a href="mailto:v-pipe@bsse.ethz.ch">v-pipe@bsse.ethz.ch</a>
      </div>
    </div>
    <div class="row">
      <p>&copy;2024 V-pipe</p>
    </div>
  </div>
</section>