<section id="four-columns">

    <h1>Get <span>started</span> with <span>V-Pipe</span></h1>
    
    <div class="container">

        <div class="homepage-columns">
            {% for column in site.fp_4columns %}
                <div class="column" id="column-{{ forloop.index }}">
                <div class="column-heading" id="column-heading-{{ forloop.index }}">
                    <img src="{{ column.image }}" alt="{{ column.title }}">
                    <h2>{{ column.heading }}</h2>
                </div>
                {% for link_group in column.links %}
                    {% if link_group.subject %}
                    <h4>{{ link_group.subject }}</h4>
                    {% endif %}
                    <ul>
                    {% for link in link_group.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>

</section>