<section id="funding">
  <h2><span>V-pipe</span> funding</h2>
  <div class="container">
    <div class="column">
      <a href="https://sib.swiss/" target="_blank">
        <img src="{{ '/assets/img/logo-sib-full.svg' | prepend: site.baseurl }}" alt="Logo SIB" >
      </a>
      <p>V-pipe is part of <a href="https://www.sib.swiss/services/open-software-and-databases" target="_blank">SIB's portfolio of open software and databases</a>.</p>
    </div>
    <div class="column">
      <a href="https://ethz.ch/" target="_blank">
        <img src="{{ '/assets/img/logo-ethz.svg' | prepend: site.baseurl }}" alt="Logo ETH Zurich" >
      </a>
    </div>
  </div>
</section>
