<section id="get-started">
  
  <h1>Get <span>started</span> with <span>V-pipe</span></h1>
  
  <div class="container">
    <div class="homepage-columns">
      {% for column in site.col_getStartedColumns %}
        <div class="column" id="box-{{ forloop.index }}">
        <div class="column-heading" id="column-heading-{{ forloop.index }}">
          <img src="{{ column.image }}" alt="{{ column.title }}">
          <h2>{{ column.heading }}</h2>
        </div>
        {% for link_group in column.links %}
          {% if link_group.subject %}
          <h4>{{ link_group.subject }}</h4>
          {% endif %}
          <ul>
          {% for link in link_group.links %}
            {% if link.url %}
              <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
            {% else %}
              <li class="not-a-link"><span>{{ link.title }}</span></li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>

</section>