<div id="refs" class="references csl-bib-body hanging-indent"
role="list">
<div id="ref-Hufsky:20" class="csl-entry" role="listitem">
Hufsky, Franziska, Kevin Lamkiewicz, Alexandre Almeida, Abdel
Aouacheria, Cecilia Arighi, Alex Bateman, Jan Baumbach, et al. 2020.
<span>“Computational Strategies to Combat <span>COVID</span>-19: Useful
Tools to Accelerate <span>SARS</span>-<span>CoV</span>-2 and Coronavirus
Research.”</span> <em><span>Preprints</span></em>. <a
href="https://doi.org/10.20944/preprints202005.0376.v1">https://doi.org/10.20944/preprints202005.0376.v1</a>.
</div>
<div id="ref-v10050256" class="csl-entry" role="listitem">
Ibrahim, Bashar, Ksenia Arkhipova, Arno C. Andeweg, Susana
Posada-Céspedes, François Enault, Arthur Gruber, Eugene V. Koonin, et
al. 2018. <span>“Bioinformatics Meets Virology: The European Virus
Bioinformatics Center’s Second Annual Meeting.”</span> <em>Viruses</em>
10 (5). <a
href="https://doi.org/10.3390/v10050256">https://doi.org/10.3390/v10050256</a>.
</div>
<div id="ref-POSADACESPEDES201717" class="csl-entry" role="listitem">
Posada-Céspedes, Susana, David Seifert, and Niko Beerenwinkel. 2017.
<span>“Recent Advances in Inferring Viral Diversity from High-Throughput
Sequencing Data.”</span> <em>Virus Research</em> 239: 17–32. <a
href="https://doi.org/10.1016/j.virusres.2016.09.016">https://doi.org/10.1016/j.virusres.2016.09.016</a>.
</div>
</div>
