<div id="refs" class="references csl-bib-body hanging-indent" role="doc-bibliography">
<div id="ref-Alm2020" class="csl-entry" role="doc-biblioentry">
Alm, Erik, Eeva K Broberg, Thomas Connor, Emma B Hodcroft, Andrey B Komissarov, Sebastian Maurer-Stroh, Angeliki Melidou, et al. 2020. <span>“Geographical and Temporal Distribution of <span>SARS</span>-<span>CoV</span>-2 Clades in the <span>WHO</span> European Region, January to June 2020.”</span> <em>Eurosurveillance</em> 25 (32). <a href="https://doi.org/10.2807/1560-7917.es.2020.25.32.2001410">https://doi.org/10.2807/1560-7917.es.2020.25.32.2001410</a>.
</div>
<div id="ref-10.1093/infdis/jiz094" class="csl-entry" role="doc-biblioentry">
Carlisle, Louisa A, Teja Turk, Katharina Kusejko, Karin J Metzner, Christine Leemann, Corinne D Schenkel, Nadine Bachmann, et al. 2019. <span>“<span class="nocase">Viral Diversity Based on Next-Generation Sequencing of HIV-1 Provides Precise Estimates of Infection Recency and Time Since Infection</span>.”</span> <em>The Journal of Infectious Diseases</em>, April. <a href="https://doi.org/10.1093/infdis/jiz094">https://doi.org/10.1093/infdis/jiz094</a>.
</div>
<div id="ref-Chen2021.03.05.21252520" class="csl-entry" role="doc-biblioentry">
Chen, Chaoran, Sarah Nadeau, Ivan Topolsky, Marc Manceau, Jana S. Huisman, Kim Philipp Jablonski, Lara Fuhrmann, et al. 2021. <span>“Quantification of the Spread of SARS-CoV-2 Variant b.1.1.7 in Switzerland.”</span> <em>medRxiv</em>. <a href="https://doi.org/10.1101/2021.03.05.21252520">https://doi.org/10.1101/2021.03.05.21252520</a>.
</div>
<div id="ref-Jahn2021.01.08.21249379" class="csl-entry" role="doc-biblioentry">
Jahn, Katharina, David Dreifuss, Ivan Topolsky, Anina Kull, Pravin Ganesanandamoorthy, Xavier Fernandez-Cassi, Carola Bänziger, et al. 2021. <span>“Detection of SARS-CoV-2 Variants in Switzerland by Genomic Analysis of Wastewater Samples.”</span> <em>medRxiv</em>. <a href="https://doi.org/10.1101/2021.01.08.21249379">https://doi.org/10.1101/2021.01.08.21249379</a>.
</div>
<div id="ref-Klaus_2021" class="csl-entry" role="doc-biblioentry">
Klaus, Julia, Marina Meli, Barbara Willi, Sarah Nadeau, Christian Beisel, Tanja Stadler, Herman Egberink, et al. 2021. <span>“Detection and Genome Sequencing of SARS-CoV-2 in a Domestic Cat with Respiratory Signs in Switzerland.”</span> <em>Viruses</em> 13 (3): 496. <a href="https://doi.org/10.3390/v13030496">https://doi.org/10.3390/v13030496</a>.
</div>
<div id="ref-Kuipers2020.10.12.335919" class="csl-entry" role="doc-biblioentry">
Kuipers, Jack, Aashil A Batavia, Kim Philipp Jablonski, Fritz Bayer, Nico Borgsmüller, Arthur Dondi, Monica-Andreea Drăgan, et al. 2020. <span>“Within-Patient Genetic Diversity of SARS-CoV-2.”</span> <em>bioRxiv</em>. <a href="https://doi.org/10.1101/2020.10.12.335919">https://doi.org/10.1101/2020.10.12.335919</a>.
</div>
<div id="ref-Nadeau2020.10.14.20212621" class="csl-entry" role="doc-biblioentry">
Nadeau, Sarah, Christiane Beckmann, Ivan Topolsky, Timothy Vaughan, Emma Hodcroft, Tobias Schär, Ina Nissen, et al. 2020. <span>“Quantifying SARS-CoV-2 Spread in Switzerland Based on Genomic Sequencing Data.”</span> <em>medRxiv</em>. <a href="https://doi.org/10.1101/2020.10.14.20212621">https://doi.org/10.1101/2020.10.14.20212621</a>.
</div>
</div>
