<div id="refs-primary" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" role="list">
<div id="ref-Fuhrmann2023.10.16.562462" class="csl-entry"
role="listitem">
Fuhrmann, Lara, Kim Philipp Jablonski, Ivan Topolsky, Aashil A Batavia,
Nico Borgsmueller, Pelin Icer Baykal, Matteo Carrara, et al. 2023.
<span>“V-Pipe 3.0: A Sustainable Pipeline for Within-Sample Viral
Genetic Diversity Estimation.”</span> <em>bioRxiv</em>. <a
href="https://doi.org/10.1101/2023.10.16.562462">https://doi.org/10.1101/2023.10.16.562462</a>.
</div>
<div id="ref-10.1093/bioinformatics/btab015" class="csl-entry"
role="listitem">
Posada-Céspedes, Susana, David Seifert, Ivan Topolsky, Kim Philipp
Jablonski, Karin J Metzner, and Niko Beerenwinkel. 2021. <span>“<span
class="nocase">V-pipe: a computational pipeline for assessing viral
genetic diversity from high-throughput data</span>.”</span>
<em>Bioinformatics</em>, January. <a
href="https://doi.org/10.1093/bioinformatics/btab015">https://doi.org/10.1093/bioinformatics/btab015</a>.
</div>
</div>
