<div id="refs" class="references csl-bib-body hanging-indent" role="doc-bibliography">
<div id="ref-10.1093/bioinformatics/btab015" class="csl-entry" role="doc-biblioentry">
Posada-Céspedes, Susana, David Seifert, Ivan Topolsky, Kim Philipp Jablonski, Karin J Metzner, and Niko Beerenwinkel. 2021. <span>“<span class="nocase">V-pipe: a computational pipeline for assessing viral genetic diversity from high-throughput data</span>.”</span> <em>Bioinformatics</em>, January. <a href="https://doi.org/10.1093/bioinformatics/btab015">https://doi.org/10.1093/bioinformatics/btab015</a>.
</div>
</div>
