<div id="refs" class="references csl-bib-body hanging-indent"
role="doc-bibliography">
<div id="ref-FUHRMANN2021157" class="csl-entry" role="doc-biblioentry">
Fuhrmann, Lara, Kim Philipp Jablonski, and Niko Beerenwinkel. 2021.
<span>“Quantitative Measures of Within-Host Viral Genetic
Diversity.”</span> <em>Current Opinion in Virology</em> 49: 157–63. <a
href="https://doi.org/10.1016/j.coviro.2021.06.002">https://doi.org/10.1016/j.coviro.2021.06.002</a>.
</div>
<div id="ref-McElroy2013" class="csl-entry" role="doc-biblioentry">
McElroy, Kerensa, Osvaldo Zagordi, Rowena Bull, Fabio Luciani, and Niko
Beerenwinkel. 2013. <span>“Accurate Single Nucleotide Variant Detection
in Viral Populations by Combining Probabilistic Clustering with a
Statistical Test of Strand Bias.”</span> <em>BMC Genomics</em> 14 (1):
501. <a
href="https://doi.org/10.1186/1471-2164-14-501">https://doi.org/10.1186/1471-2164-14-501</a>.
</div>
<div id="ref-Topfer2014" class="csl-entry" role="doc-biblioentry">
Töpfer, Armin, Tobias Marschall, Rowena A. Bull, Fabio Luciani,
Alexander Schönhuth, and Niko Beerenwinkel. 2014. <span>“Viral
Quasispecies Assembly via Maximal Clique Enumeration.”</span> Edited by
Alice Carolyn McHardy. <em><span>PLoS</span> Computational Biology</em>
10 (3): e1003515. <a
href="https://doi.org/10.1371/journal.pcbi.1003515">https://doi.org/10.1371/journal.pcbi.1003515</a>.
</div>
<div id="ref-Zagordi2011" class="csl-entry" role="doc-biblioentry">
Zagordi, Osvaldo, Arnab Bhattacharya, Nicholas Eriksson, and Niko
Beerenwinkel. 2011. <span>“<span class="nocase">ShoRAH: estimating the
genetic diversity of a mixed sample from next-generation sequencing
data.</span>”</span> <em><span>BMC Bioinformatics</span></em> 12 (1):
119. <a
href="https://doi.org/10.1186/1471-2105-12-119">https://doi.org/10.1186/1471-2105-12-119</a>.
</div>
<div id="ref-Zagordi2010" class="csl-entry" role="doc-biblioentry">
Zagordi, Osvaldo, Lukas Geyrhofer, Volker Roth, and Niko Beerenwinkel.
2010. <span>“<span class="nocase">Deep sequencing of a genetically
heterogeneous sample: local haplotype reconstruction and read error
correction.</span>”</span> <em><span>J. Comput. Biol.</span></em> 17
(3): 417–28. <a
href="https://doi.org/10.1089/cmb.2009.0164">https://doi.org/10.1089/cmb.2009.0164</a>.
</div>
<div id="ref-10.1093/nar/gkq655" class="csl-entry"
role="doc-biblioentry">
Zagordi, Osvaldo, Rolf Klein, Martin Däumer, and Niko Beerenwinkel.
2010. <span>“<span class="nocase">Error correction of next-generation
sequencing data and reliable estimation of HIV
quasispecies</span>.”</span> <em>Nucleic Acids Research</em> 38 (21):
7400–7409. <a
href="https://doi.org/10.1093/nar/gkq655">https://doi.org/10.1093/nar/gkq655</a>.
</div>
</div>
