<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" role="list">
<div id="ref-Alm2020" class="csl-entry" role="listitem">
Alm, Erik, Eeva K Broberg, Thomas Connor, Emma B Hodcroft, Andrey B
Komissarov, Sebastian Maurer-Stroh, Angeliki Melidou, et al. 2020.
<span>“Geographical and Temporal Distribution of
<span>SARS</span>-<span>CoV</span>-2 Clades in the <span>WHO</span>
European Region, January to June 2020.”</span> <em>Eurosurveillance</em>
25 (32). <a
href="https://doi.org/10.2807/1560-7917.es.2020.25.32.2001410">https://doi.org/10.2807/1560-7917.es.2020.25.32.2001410</a>.
</div>
<div id="ref-Bagutti_Alt_2022" class="csl-entry" role="listitem">
Bagutti, Claudia, Monica Alt Hug, Philippe Heim, Laura Maurer Pekerman,
Evelyn Ilg Hampe, Philipp Hübner, Simon Fuchs, et al. 2022.
<span>“Wastewater Monitoring of SARS-CoV-2 Shows High Correlation with
COVID-19 Case Numbers and Allowed Early Detection of the First Confirmed
b.1.1.529 Infection in Switzerland: Results of an Observational
Surveillance Study.”</span> <em>Swiss Medical Weekly</em> 152 (2526):
w30202. <a
href="https://doi.org/10.4414/SMW.2022.w30202">https://doi.org/10.4414/SMW.2022.w30202</a>.
</div>
<div id="ref-10.1093/infdis/jiz094" class="csl-entry" role="listitem">
Carlisle, Louisa A, Teja Turk, Katharina Kusejko, Karin J Metzner,
Christine Leemann, Corinne D Schenkel, Nadine Bachmann, et al. 2019.
<span>“<span class="nocase">Viral Diversity Based on Next-Generation
Sequencing of HIV-1 Provides Precise Estimates of Infection Recency and
Time Since Infection</span>.”</span> <em>The Journal of Infectious
Diseases</em>, April. <a
href="https://doi.org/10.1093/infdis/jiz094">https://doi.org/10.1093/infdis/jiz094</a>.
</div>
<div id="ref-CHEN2021100480" class="csl-entry" role="listitem">
Chen, Chaoran, Sarah Ann Nadeau, Ivan Topolsky, Marc Manceau, Jana S.
Huisman, Kim Philipp Jablonski, Lara Fuhrmann, et al. 2021.
<span>“Quantification of the Spread of SARS-CoV-2 Variant b.1.1.7 in
Switzerland.”</span> <em>Epidemics</em> 37: 100480. <a
href="https://doi.org/10.1016/j.epidem.2021.100480">https://doi.org/10.1016/j.epidem.2021.100480</a>.
</div>
<div id="ref-Klaus_2021" class="csl-entry" role="listitem">
Klaus, Julia, Marina Meli, Barbara Willi, Sarah Nadeau, Christian
Beisel, Tanja Stadler, Herman Egberink, et al. 2021. <span>“Detection
and Genome Sequencing of SARS-CoV-2 in a Domestic Cat with Respiratory
Signs in Switzerland.”</span> <em>Viruses</em> 13 (3): 496. <a
href="https://doi.org/10.3390/v13030496">https://doi.org/10.3390/v13030496</a>.
</div>
<div id="ref-v15010245" class="csl-entry" role="listitem">
Kuhlmeier, Evelyn, Tatjana Chan, Cecilia Valenzuela Agüí, Barbara Willi,
Aline Wolfensberger, Christian Beisel, Ivan Topolsky, et al. 2023.
<span>“Detection and Molecular Characterization of the SARS-CoV-2 Delta
Variant and the Specific Immune Response in Companion Animals in
Switzerland.”</span> <em>Viruses</em> 15 (1). <a
href="https://doi.org/10.3390/v15010245">https://doi.org/10.3390/v15010245</a>.
</div>
<div id="ref-Kuipers2020.10.12.335919" class="csl-entry"
role="listitem">
Kuipers, Jack, Aashil A Batavia, Kim Philipp Jablonski, Fritz Bayer,
Nico Borgsmüller, Arthur Dondi, Monica-Andreea Drăgan, et al. 2020.
<span>“Within-Patient Genetic Diversity of SARS-CoV-2.”</span>
<em>bioRxiv</em>. <a
href="https://doi.org/10.1101/2020.10.12.335919">https://doi.org/10.1101/2020.10.12.335919</a>.
</div>
<div id="ref-Lezcano2023.07.21.549997" class="csl-entry"
role="listitem">
Lezcano, Oscar M., Lara Fuhrmann, Gayatri Ramakrishnan, Niko
Beerenwinkel, Martijn A. Huynen, and Ronald P. van Rij. 2023.
<span>“Parallel Evolution and Enhanced Virulence Upon in Vivo Passage of
an RNA Virus in Drosophila Melanogaster.”</span> <em>bioRxiv</em>. <a
href="https://doi.org/10.1101/2023.07.21.549997">https://doi.org/10.1101/2023.07.21.549997</a>.
</div>
<div id="ref-doi:10.1126/scitranslmed.abn7979" class="csl-entry"
role="listitem">
Nadeau, Sarah A., Timothy G. Vaughan, Christiane Beckmann, Ivan
Topolsky, Chaoran Chen, Emma Hodcroft, Tobias Schär, et al. 2023.
<span>“Swiss Public Health Measures Associated with Reduced SARS-CoV-2
Transmission Using Genome Data.”</span> <em>Science Translational
Medicine</em> 15 (680): eabn7979. <a
href="https://doi.org/10.1126/scitranslmed.abn7979">https://doi.org/10.1126/scitranslmed.abn7979</a>.
</div>
<div id="ref-Nadeau2020.10.14.20212621" class="csl-entry"
role="listitem">
Nadeau, Sarah, Christiane Beckmann, Ivan Topolsky, Timothy Vaughan, Emma
Hodcroft, Tobias Schär, Ina Nissen, et al. 2020. <span>“Quantifying
SARS-CoV-2 Spread in Switzerland Based on Genomic Sequencing
Data.”</span> <em>medRxiv</em>. <a
href="https://doi.org/10.1101/2020.10.14.20212621">https://doi.org/10.1101/2020.10.14.20212621</a>.
</div>
<div id="ref-microorganisms11112660" class="csl-entry" role="listitem">
Zhakparov, Damir, Yves Quirin, Yi Xiao, Nicole Battaglia, Michael
Holzer, Martin Bühler, Walter Kistler, et al. 2023. <span>“Sequencing of
SARS-CoV-2 RNA Fragments in Wastewater Detects the Spread of New
Variants During Major Events.”</span> <em>Microorganisms</em> 11 (11).
<a
href="https://doi.org/10.3390/microorganisms11112660">https://doi.org/10.3390/microorganisms11112660</a>.
</div>
</div>
