<div id="refs" class="references hanging-indent" role="doc-bibliography">
<div id="ref-Hufsky:20">
<p>Hufsky, Franziska, Kevin Lamkiewicz, Alexandre Almeida, Abdel Aouacheria, Cecilia Arighi, Alex Bateman, Jan Baumbach, et al. 2020. “Computational Strategies to Combat COVID-19: Useful Tools to Accelerate SARS-CoV-2 and Coronavirus Research.” <em>Preprints</em>. <a href="https://doi.org/10.20944/preprints202005.0376.v1">https://doi.org/10.20944/preprints202005.0376.v1</a>.</p>
</div>
<div id="ref-v10050256">
<p>Ibrahim, Bashar, Ksenia Arkhipova, Arno C. Andeweg, Susana Posada-Céspedes, François Enault, Arthur Gruber, Eugene V. Koonin, et al. 2018. “Bioinformatics Meets Virology: The European Virus Bioinformatics Center’s Second Annual Meeting.” <em>Viruses</em> 10 (5). <a href="https://doi.org/10.3390/v10050256">https://doi.org/10.3390/v10050256</a>.</p>
</div>
<div id="ref-POSADACESPEDES201717">
<p>Posada-Céspedes, Susana, David Seifert, and Niko Beerenwinkel. 2017. “Recent Advances in Inferring Viral Diversity from High-Throughput Sequencing Data.” <em>Virus Research</em> 239: 17–32. <a href="https://doi.org/10.1016/j.virusres.2016.09.016">https://doi.org/10.1016/j.virusres.2016.09.016</a>.</p>
</div>
</div>
