<div id="refs" class="references hanging-indent" role="doc-bibliography">
<div id="ref-10.1093/infdis/jiz094">
<p>Carlisle, Louisa A, Teja Turk, Katharina Kusejko, Karin J Metzner, Christine Leemann, Corinne D Schenkel, Nadine Bachmann, et al. 2019. “Viral Diversity Based on Next-Generation Sequencing of HIV-1 Provides Precise Estimates of Infection Recency and Time Since Infection.” <em>The Journal of Infectious Diseases</em>, April. <a href="https://doi.org/10.1093/infdis/jiz094">https://doi.org/10.1093/infdis/jiz094</a>.</p>
</div>
</div>
