<div class="container">
  <!-- <div class="logo logo-sib">
    <img src="assets/img/logo-sib.svg" alt="Logo SIB">
  </div> -->
  <div class="logo logo-vpipe">
    <img src="assets/img/logo-vpipe.svg" alt="Logo V-pipe">
  </div>
  <button id="toggle-nav-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav id="main-nav">
    <ul>
      {% for item in page.nav_items %}
        <li>
          <a href="{{ item.link }}">{{ item.name }}</a>
          {% if item.sub_items %}
          <span>&#8964;</span>
          <ul>
            {% for sub_item in item.sub_items %}
                <li><a href="{{ sub_item.link }}">{{ sub_item.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const toggleNavBtn = document.getElementById("toggle-nav-btn");
  const mainNav = document.getElementById("main-nav");

  function toggleNav(event) {
    event.stopPropagation();
    mainNav.classList.toggle("show");
  }

  toggleNavBtn.addEventListener("click", toggleNav);

  document.addEventListener("click", function(event) {
    const target = event.target;
    if (target !== toggleNavBtn && !mainNav.contains(target)) {
      mainNav.classList.remove("show");
    }
  });
});

</script>