<section id="vpipe-numbers">
    <h2><span>V-pipe</span> in <span>numbers</span></h2>
    <div class="bg-full-width">
      <div class="container">
        <div class="column-numbers" id="citations-num">
          <h3><span>894,512</span>Citations in 2023</h3>
        </div>  
        <div class="column-numbers" id="downloads-num">
          <h3><span>237,862</span>Downloads in Bioconda in 2023</h3>
        </div>
        <div class="column-numbers" id="uni-num">
          <h3><span>76,558</span>Samples analysed<br>during the pandemics</h3>
        </div>
        <div class="column-numbers" id="samples-num">
          <h3><span>1,972,395</span>Samples analysed<br>in wastewater since 2021</h3>
        </div>
      </div>
    </div>
</section>