<div class="half-circle"><img src="assets/img/half-circle-red.png" alt="Abstract half circle SIB" /></div>
<section id="why-vpipe">
    <h1>Why <span>choose V-pipe</span></h1>
    <div class="container">
        {% for column in site.col_whyVpipe %}
        <div class="column">
            <div class="img-container">
                <img src="{{ column.image }}" alt="{{ column.title }}">
            </div>
            <h2>{{ column.title }}</h2>
        </div>
        {% endfor %}
    </div>
</section>