---
---

$sibRed: #e30613;
$vpipeLightRed: #feeaeb;
$vpipeOffBlack: #111111;
$bgNavArticles: #dedededb;
$mainRadius: 20px;
$mainRadiusTop: 30px 30px 0 0;
$mainRadiusBottom: 0 0 30px 30px;
$smallRadius: 10px;

@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('../fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
    url('../fonts/CabinetGrotesk-Variable.woff') format('woff'),
    url('../fonts/CabinetGrotesk-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:black;
  overflow-x: hidden;

  &:not(.homebody) {
    padding-top: 130px;
    .container {
      max-width: calc(100% - 150px);
      h2 {
        scroll-margin-top: 150px;
      }
      #funding {
        margin: revert;
      }
    }
    #nav-container {
      padding: 10px 0;
      background: rgb(255,244,244);
      background: linear-gradient(328deg, rgba(253, 253, 253, 0.9) 0%, rgba(255,237,237,.9) 100%);
      top: 0;
    }
    header {
      &:not(.home) {
        .container {
          max-width: calc(100% - 80px);
        }
      }
    }
  }
  font: {
    family: "Inter", sans-serif;
  }
  a {
    color: black;
  }
  h1, h2, h3 {
    font: {
      family: "CabinetGrotesk-Variable", sans-serif;
    }
  }
  h1 {
    font: {
      size: 2.2em;
      weight: 400;
    }
    span {
      font: {
        weight: 700;
      }
    }
  }
  .btn-404-home, .btn-404-report {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 15px 20px;
    background: $sibRed;
    color: white;
    border-radius: $smallRadius;
    text-decoration: none;
    &:hover {
      background: $vpipeOffBlack;
    }
  }
  .welcome-txt {
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    background: #333;
    color: white;
    border-radius: 0 0 12px 12px;
    position: relative;
    top: -50px;
    z-index: -1;
    animation: slideDown .5s forwards;
  }
  @keyframes slideDown {
    from {
      top: -50px;
    }
    to {
      top: 0;
    }
  }
  section {
    h2 {
      font: {
        size: 2.2em;
        weight: 400;
      }
      span {
        font: {
          weight: 700;
        }
      }
    }
  }
  
  #btn-getting-started {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 12px;
    position: fixed;
    right: -200px;
    bottom: 35px;
    font: {
      size: 1.1em;
    }
    background-image: linear-gradient(to right, #111, #444, #111, #444);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    color: white;
    text-decoration: none;
    animation: slideInFromRtoLeft 1s forwards alternate;
    &:hover {
      background-position: 100% 0;
      transition: all .4s ease-in-out;
    }
    span {
      width: 50px;
      height: 50px;
      margin: 0 10px 0 0;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      background: #333;
      img {
        width: 24px;
        margin: 0 8px 0;
      }
    }
    @keyframes slideInFromRtoLeft {
      from {
        right: -200px;
      }
      to {
        right: 35px;
      }
    }
  }

  .container {
    width: 100%;
    max-width: calc(100% - 110px);
    margin: 0 auto;
    padding: 0 40px;
  }

  #nav-container {
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    top: 40px;
    z-index: 9999;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logos {
        width: inherit;
        a {
          img {
            width: 150px;
            padding-right: 12px;
          }
          // &:last-child {
          //   img {
          //     width: 52px;
          //     padding-left: 20px;
          //     border-left: 1px solid #0000002b;
          //   }
          // }
        }
      }
      button {
        width: 33%;
        display: none;
      }

      ul {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    
        li {
          position: relative;
          margin: 0 20px;
          padding: 10px 0;
          line-height: 30px;
          margin-top: -2px;
          margin-bottom: -2px;
          img {
            width: 10px;
            position: absolute;
            top: 50%;
            right: -4px;
            margin-top: -2px;
          }

          a {
            padding: 10px;
            color: black;
            text-decoration: none;
    
            &:hover {
              color: $sibRed;
            }
          }

          ul {
            min-width: max-content;
            padding: 20px 10px;
            display: none;
            position: absolute;
            top: 100%;
            left: 10px;
            z-index: 100;
            background: white;
            border-radius: $smallRadius;
            box-shadow: 0 0 30px -5px rgba(0,0,0,0.25);
            li {
              margin: 0 5px;
              padding: 0;
              line-height: 24px;
              a {
                display: block;
                padding: 10px 5px;
                color: black;
                text-decoration: none;
                border-radius: 5px;
                &:hover {
                  background: $vpipeOffBlack;
                  color: white;
                }
              }
            }
          }
    
          &:hover {
            ul {
              display: block;
            }
          }

          &:last-child, &:nth-last-child(2) {
            ul {
              left: auto;
              right: 0;
            }
          }
        }
      }
    }
    &.navScrolled {
      padding: 10px 0;
      top: 0;
      background: rgb(255,244,244);
      background: linear-gradient(328deg, rgba(253, 253, 253, 0.9) 0%, rgba(255,237,237,.9) 100%);
    }
  }
  
  header {
    height: auto;
    padding: 180px 20px 40px 20px;
    position: relative;
    background: rgb(255,244,244);
    background: linear-gradient(328deg, rgba(231,238,245,1) 0%, rgba(255,237,237,1) 100%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: $mainRadiusBottom;
    .container {
      .hero-carousel {
        width: 100%;
        min-height: 440px;
        margin: 60px 0;
        position: relative;
        .slide {
          display: flex !important;
          color: black;
          .image {
            flex: 1;
            img {
              width: 100%;
              max-width: 730px;
              height: auto;
              border-radius: 10px;
            }
          }
          .video {
            width: 100%;
            flex: 1;
            position: relative;
            padding-bottom: 29.2%;
            overflow: hidden;
            iframe {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: $smallRadius;
            }
          }
          .content {
            width: 50%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            flex: 1;
            h1 {
              font: { 
                size: 2em;
                weight: 700;
              }
              margin: 5px 0;
            }
            p {
              font-size: 1.2em;
              margin: 5px 0 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3; /* Number of lines to show */
              -webkit-box-orient: vertical;
            }
            .cta {
              width: auto;
              display: inline-flex;
              flex-grow: 0;
              padding: 15px 30px;
              background: $sibRed;
              color: #fff;
              text-decoration: none;
              border-radius: 5px;
              transition: background 0.3s ease;
              &:hover {
                background: $vpipeOffBlack;
              }
            }
          }
        }
      }

      .slider-dots {
        width: 250px;
        margin: 40px auto;
        padding: 0 0 10px 0;
        text-align: center;
        list-style: none;
        background: white;
        border-radius: $mainRadius;
        
        li {
          width: calc(25% - 8px);
          display: inline-block;
          margin: 0 2px;
        }
        
        button {
          width: 100%;
          height: 8px;
          position: relative;
          border: 0;
          background-color: #ccc;
          font-size: 0;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color .5s;
          &:hover {
            background-color: #999;
          }
          &:after {
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            display: block;
            border-radius: 5px;
          }
        }
        
        .slick-active {
          button { 
            &:after {
              background-color: red;
              animation: progress var(--autoplay-speed) linear forwards;
            }
            &.resetTimer {
              animation: pulsate 1s infinite alternate;
              &:after {
                animation: resetBar 1s infinite alternate;
                // animation-play-state: paused;
              }
              @keyframes pulsate {
                from {
                  width: 20%;
                  opacity: 1;
                }
                to {
                  width: 70%;
                  opacity: .3;
                }
              }
              @keyframes resetBar {
                from {
                  width: 100%;
                }
                to {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      
      @keyframes progress {
        from {
          width: 0%;
        }
        
        to {
          width: 100%;
        }
      }
    
      // .slide-indicators {
      //   display: flex;
      //   padding: 8px;
      //   position: absolute;
      //   bottom: 30px;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   background: white;
      //   border-radius: 10px;
      //   .indicator {
      //     display: inline-block;
      //     width: 30px;
      //     height: 8px;
      //     background: #ccc;
      //     border-radius: 10px;
      //     margin: 0 5px;
      //     cursor: pointer;
      //     &.active {
      //       background: $sibRed;
      //     }
      //   }
      // }
    }
    &:not(.home) {
      min-height: auto;
      margin: 40px;
      padding: 0;
      background: #dffff8;
      border-radius: $mainRadius;
    }
  }

  #get-started {
    margin: 160px 0;
    position: relative;
       
    h2 {
      padding: 20px 0;
      text-align: center;
    }
    .container {
      justify-content: space-between;
      .homepage-columns {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        .column {
          width: 25%;
          padding: 20px 20px 80px 20px;
          position: relative;
          // background: #c0fbea;
          background: $vpipeLightRed;
          background: linear-gradient(119deg, rgba(254,234,235,1) 0%, rgba(235,220,221,1) 100%);
          border-radius: $smallRadius;
          .column-heading {
            padding: 20px;
            text-align: center;
            background: rgba(255, 255, 255, 0.8);
            border-radius: $smallRadius;
            img {
              height: 55px;
            }
            h3 {
              margin: 0;
              font: {
                size: 1.5em;
                weight: 400;
              }
            }
          }
          h4 {
            display: inline-block;
            margin: 20px 0 0;
            padding: 2px 5px;
            font: {
              size: 1em;
              weight: 300;
            }
            background: $sibRed;
            color: white;
            border-radius: 10px;
          }
          ul {
            padding: 0 0 0 20px;
            li {
              padding: 8px 0;
              list-style-image: url(../img/ic-list-style.svg);
              a {
                color: black;
                text-decoration: none;
                &:hover {
                  color: $sibRed;
                }
              }
              &.not-a-link {
                span {
                  padding: 5px;
                  background: rgba(255,255,255,0.45);
                  border-radius: $smallRadius;
                }
              }
            }
          }
          &:after {
            content: '';
            width: 100px;
            height: 8px;
            position: absolute;
            bottom: 25px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            // background: rgba(0, 0, 0, 0.148);
            background: #ff00001a;
            border-radius: $smallRadius;
          }
        }
      }
    }
  }

  #vpipe-numbers {
    margin: 220px 0 70px;
    position: relative;
    text-align: center;
    h2 {
      padding-bottom: 0;
    }
    .bg-full-width {
      background: rgb(255,244,244);
      background: linear-gradient(328deg, rgba(255, 244, 244, 0.7) 0%, rgba(231, 238, 245, 0.7) 100%);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      border-radius: $mainRadius;
      .container {
        display: flex;
        gap: 20px;
        margin: 50px auto;
        padding: 180px 0;
        .column-numbers {
          width: 25%;
          padding: 40px 0;
          display: flex;
          justify-content: center;
          align-items: start;
          background: rgba(255,255,255,0.4);
          border-radius: $smallRadius;
          h3 {
            font: {
              size: 1.2em;
              weight: 400;
            }
            span {
              display: block;
              padding-top: 10px;
              font: {
                size: 2.2em;
                weight: 700;
              }
            }
          }
        }
      }
    }
  }

  .abstract-adeno-virus {
    position: absolute;
    left: -130px;
    z-index: -1;
    img {
      width: 400px;
      transform: rotate(-38deg);
    }
  }

  #why-vpipe {
    padding: 160px 0;
    text-align: center;
    .container {
      display: flex;
      gap: 20px;
      margin: 40px auto;
      .column {
        width: 25%;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #ffffffcf;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border: 1px solid #eee;
        border-radius: $smallRadius;
        text-decoration: none;
        transition: all .3s;
        .img-container {
          height: 80px;
          display: flex;
          align-items: end;
          justify-items: center;
          img {
            transition: transform .3s;
          }
        }
        h2 {
          font: {
            weight: 300;
          }
          margin-bottom: 0;
        }
        h3 {
          margin-bottom: 0;
          font: {
            size: 1.5em;
            weight: 300;
          }
        }
        &:hover {
          background: $vpipeOffBlack;
          color: white;
          border-color: $vpipeOffBlack;
          .img-container {
            img {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }

  #meet-the-team {
    padding: 120px 0 160px 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    .container {
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      margin: 40px auto;
      .column {
        width: 50%;
        padding: 40px;
        background: $vpipeOffBlack;
        color: white;
        border-radius: $smallRadius;
        h3 {
          margin-top: 0;
          text-transform: uppercase;
          font: {
            size: 1.5em;
            weight: 400;
          }
          span {
            font: {
              weight: 700;
            }
          }
        }
        ul {
          padding: 0;
          text-align: start;
          li {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            span {
              &:first-child {
                padding: 0 20px 0 0;
              }
            }
          }
        }
        &:last-child {
          background: rgba(217,232,241,0.83);
          color: black;
          -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
        }
      }
    }
  }

  #funding {
    margin: 160px 0;
    h2 {
      text-align: center;
    }
    .container {
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      margin: 40px auto;
      .column {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 60px 0;
        position: relative;
        border: 1px solid #ddd;
        border-radius: $smallRadius;
        a {
          img {
            width: 200px;
          }
        }
        p {
          position: absolute;
          bottom: 0px;
          font: {
            size: .8em;
          }
          color: #939393;
          text-align: center;
          a {
            color: #333;
            &:hover {
              color: $sibRed;
            }
          }
        }
      }
    }
  }

  #footer {
    margin: 160px 0 0;
    padding: 0 0 20px;
    background: rgba(30, 118, 173, .169);
    background: linear-gradient(119deg, rgba(217,232,241,1) 42%, rgba(235,220,221,1) 100%);
    border-radius: $mainRadiusTop;
    .container {
      padding: 80px 0 0;
      .row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .column {
          padding: 20px;
          h2 {
            font: {
              size: 1.4em;
              weight: 700;
            }
          }
          ul {
            padding: 0 0 0 17px;
            li {
              margin: 8px 0;
              padding: 5px 0;
              list-style-image: url(../img/ic-list-style.svg);
              a {
                color: black;
                text-decoration: none;
                &:hover {
                  color: $sibRed;
                }
              }
            }
          }
        }
        &:nth-child(2) {
          margin: 80px 0;
          .column {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: $smallRadius;
            a {
              &:hover {
                color: $sibRed;
              }
            }
            h1 {
              margin-top: 0;
            }
            .social-container {
              display: flex;
              a {
                width: 40px;
                height: 40px;
                margin: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                background: rgba(255, 255, 255, 1);
                border-radius: $smallRadius;
                transition: box-shadow .3s ease;
                &:hover {
                  box-shadow: 0 0 40px -20px black;
                }
              }
            }
          }
        }
        &:last-child {
          justify-content: center;
        }
      }
    }
  }

}

@media screen and (min-width: 1600px) {
  body {
    .container {
      width: 100%;
      max-width: 1500px;
      margin: 0 auto;
      padding: 0 40px;
    }
    header {
      min-height: 590px;
    }
  }
}

@media screen and (max-width: 1350px) {
  body {
    header {
      .container {
        .hero-carousel {
          min-height: 380px;
        }
      }
    }
    #meet-the-team {
      padding: 160px 0 0;
      .container {
        .column {
          ul {
            li {
              display: grid;
              font: {
                size: 1em;
              }
              span {
                &:first-child {
                  font: {
                    weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1218px) {
  body {
    #get-started {
      .container {
        .homepage-columns {
          .column {
            .column-heading {
              h3 {
                font: {
                  size: 1em;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    #btn-getting-started {
      bottom: 25px;
      font: {
        size: 1em;
      }
      span {
        width: 40px;
        height: 40px;
      }
      @keyframes slideInFromRtoLeft {
        from {
          right: -200px;
        }
        to {
          right: 25px;
        }
      }
    }
    .container {
      max-width: calc(100% - 10px);
      padding: 0;
    }
    #nav-container {
      .container {
        max-width: calc(100% - 50px);
        padding: 10px;
        .logos {
          a {
            img {
              width: 120px;
              padding-right: 5px;
            }
            // &:last-child {
            //   img {
            //     width: 40px;
            //     padding-left: 10px;
            //   }
            // }
          }
        }
        ul {
          li {
            line-height: 20px;
          }
        }
        nav {
          display: none;
          &.show {
            display: block;
            width: auto;
            position: absolute;
            top: 80px;
            right: 25px;
            z-index: 9999;
            background: white;
            box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.6);
            border-radius: $smallRadius;
            &:before {
              content: "";
              position: absolute;
              top: -10px;
              right: -10px;
              transform: translateX(-50%);
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-bottom: 20px solid white;
            }
          
            ul {
              display: block;
              li {
                img {
                  display: none;
                }
                span {
                  display: none;
                }
                ul {
                  padding: 10px;
                  display: block;
                  position: unset;
                  box-shadow: none;
                  li {
                    a {
                      padding: 5px;
                    }
                  }
                }
              }
            }
          }          
        }
        button {
          display: flex;
          margin: 0 8px 0 0;
          align-items: end;
          flex-direction: column;
          background: none;
          border: none;
          cursor: pointer;
          span {
            width: 35px;
            height: 2px;
            display: block;
            background: $sibRed;
            margin: 4px 0;
            border-radius: $smallRadius;
            &:nth-child(2) {
              position: relative;
              left: 5px;
            }
          }
        }
      }
    }
    header {
      padding-top: 130px;
      .container {
        .hero-carousel {
          .slide {
            display: block !important;
            .content {
              width: 100%;
              padding-left: 0;
            }
            .video {
              padding-bottom: 56%;
            }
          }
        }
      }
    }
    #get-started {
      margin-top: 80px;
      .container {
        .homepage-columns {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-row: auto auto;
          grid-column-gap: 20px;
          grid-row-gap: 20px;
          justify-content: space-around;
          .column {
            width: auto;
            .column-heading {
              h3 {
                font: {
                  size: 1.2em;
                }
              }
              img {
                height: 45px;
              }
            }
          }
        }
      }
    }
    #vpipe-numbers {
      .bg-full-width {
        .container {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-column-gap: 20px;
          grid-row-gap: 20px;
          .column-numbers {
            width: 100%;
            h2 {
              font: {
                size: 1.4em;
              }
            }
          }
        }
      }
    }
    .abstract-adeno-virus {
      opacity: .2;
    }
    #why-vpipe {
      .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-content: space-around;
        .column {
          width: auto;
          h3 {
            font: {
              size: 1.2em;
            }
          }
        }
      }
    }
    #meet-the-team {
      .container {
        display: block;
        .column {
          width: auto;
          margin: 20px 0;
        }
      }
      .abstract-covid {
        opacity: .2;
      }
    }
    #funding {
      margin: 80px 0;
      padding: 40px 0 0;
      .container {
        .column {
          a {
            img {
              width: 120px;
            }
          }
        }
      }
    }
    #footer {
      margin: 100px 0 0;
      .container {
        .row, .row:nth-child(2) {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-column-gap: 20px;
          grid-row-gap: 20px;
          justify-content: space-around;
          .column {
            width: auto;
            .social-container {
              a {
                width: 20px;
                height: 20px;
                img {
                  width: 18px;
                }
              }
            }
          }
        }
        .row:last-child {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    &:not(.homebody) {
      .container {
        max-width: calc(100% - 60px);
      }
      header {
        &:not(.home) {
          margin: 20px 10px 10px 10px;
          .container {
            max-width: calc(100% - 40px);
            padding: 10px 0;
          }
        }
      }
    }
    #nav-container {
      top: 30px;
    }
    header {
      .container {
        .hero-carousel {
          margin: 0 0 40px;
          .slide {
            .content {
              h2 {
                font: {
                  size: 1.8em;
                }
              }
            }
          }
        }
        nav {
          &.show {
            top: 95px;
          }
        }
      }
    }
    .welcome-txt {
      width: 94%;
      padding: 60px 10px 20px 10px;
      border-radius: 0 0 20px 20px;
      text-align: center;
    }
    @keyframes slideDown {
      from {
        top: -50px;
      }
      to {
        top: -40px;
      }
    }
    #get-started {
      margin: 50px 15px 0;
      position: relative;
      .metaball {
        display: none;
        position: absolute;
        z-index: -1;
        img {
          width: 150px;
        }
        &:first-child {
          display: block;
          left: -40px;
          top: -200px;
          img {
            width: 200px;
          }
        }
      }
      .container {
        .homepage-columns {
          display: grid;
          grid-template-columns: 100%;
          grid-row: auto;
          .column {
            width: auto;
            .column-heading {
              h3 {
                font: {
                  size: 1.2em;
                }
              }
              img {
                height: 45px;
              }
            }
          }
        }
      }
    }
    #vpipe-numbers {
      margin: 80px 0 70px;
      .bg-full-width {
        .container {
          display: block;
          padding: 50px 0;
          .column-numbers {
            width: 90%;
            margin: 20px auto;
          }
        }
      }
    }
    #why-vpipe {
      padding: 0;
      .container {
        display: block;
        .column {
          margin: 20px 0;
        }
      }
    }
    #meet-the-team {
      padding: 160px 0 0;
      .container {
        .column {
          ul {
            li {
              font: {
                size: .85em;
              }
            }
          }
        }
      }
    }
    #funding {
      padding: 0;
      .container {
        flex-direction: column-reverse;
      }
    }
    #footer {
      .container {
        padding: 30px 0 0;
        .row {
          display: block;
          .column {
            margin: 0;
            padding: 1px 20px;
          }
          &:nth-child(2) {
            display: block;
            margin: 20px;
            .column {
              margin: 20px 0;
              padding: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    #nav-container {
      .container {
        nav {
          &.show {
            ul {
              li {
                ul {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .abstract-adeno-virus {
      display: none;
    }
  }
}