---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

     header {
        // display: none;
      }

      nav {
        // display: none;
      }

      .page-heading {
        display: none;
      }

      p {
        text-align: justify;
        text-justify: inter-word;
      }

      .hrefbut {
        margin: auto;
        margin-bottom: 20px;
        min-height: 100px;
        height: 100px;
        width: 250px;
        font-size: 1.1em;
        line-height: 100px;
        background-color: rgba(0, 169, 157, 0.1);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        padding: 12px;

      }

      .hrefbut:hover {
        background-color: rgba(0, 169, 157, 0.2);
      }
      .hrefbut img[alt=GitHub] {
        vertical-align: text-bottom;
        width: 2.4ex;
        height: 2.4ex;
      }
      p img[alt=Logo], p img[alt=Pipeline] {
        text-align: center;
        min-width: 200px;
        max-width: 90%;
      }
      p img[alt=Cartoon] {
        text-align: center;
        min-width: 200px;
        max-width: 100%;
      }

      li img[alt=SIB] {
        width: 3em;
		margin: 0em 2em;
      }

      li img[alt=DBSSE] {
        width: 5em;
		margin: 0em 1em;
      }

      li img[alt=ETHZ] {
        width: 5em;
		margin: 0em 1em;
      }

      li img[alt=CBG] {
        width: 7em;
		margin: 0em 0em;
      }

      a.site-title {
          background-image: url({{ site.baseurl }}/img/logo.svg);
          background-repeat: no-repeat;
          background-size: contain;
          width: 6em;
          height: 2em;

          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
      }
      li img[alt~=Bioconda], li img[alt*=install], li img[alt^=Snakemake] {
         float: right;
      }

      .embed-container {
        position: relative;
        padding-bottom: 74% /*56.25%*/;
        height: 0;
        overflow: hidden;
        max-width: 100%;
      }

      .embed-container iframe, .embed-container object, .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .flashNews {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #5DBCD2;
	border-bottom: 1px solid  #5DBCD2;
	background-color: #CDEAE8;
	color: #333;
	width: 90%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	text-align: center;
      }
      a.page-link[href*="sars-cov-2"] {
	color: red;
      }

      .urgentNews {
	border-color: #D25D5D;
	background-color: #EACDCD;
	color: #333;
      }
      div.references[role=doc-bibliography] div {
        display: list-item;
        margin-left: 30px;
      }

@media (max-width: 920px) {
     .table-wrapper {
	overflow-x: scroll;
	margin-bottom: 30px;
      }
     .table-wrapper table {
	margin-bottom: 0;
      }
}
