<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="V-pipe" />
    <meta name="author" content="V-pipe" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.title }}" />
    <link rel="canonical" href="https://cbg-ethz.github.io/V-pipe/" />
    <meta property="og:url" content="https://cbg-ethz.github.io/V-pipe/" />
    <meta property="og:site_name" content="V-pipe" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="{{ '../assets/css/main.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://rawgit.com/kenwheeler/slick/master/slick/slick.js"></script>
    <link href="https://rawgit.com/kenwheeler/slick/master/slick/slick-theme.css" rel="stylesheet"/>
    <link href="https://rawgit.com/kenwheeler/slick/master/slick/slick.css" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body class="homebody">
    
    {% include navigation.html %}

    <header class="home">
      {% include carousel.html %}
    </header>

    {% include get_started_columns.html %}

    {% include vpipe_numbers.html %}

    {% include why_vpipe.html %}
    
    {% include meet_the_team.html %}

    {% include funding.html %}

    {% include footer.html %}

    <a id="btn-getting-started" href="how-to-get-vpipe#getting-started">Getting started <img src="assets/img/ic-arrow-right.svg" alt="Arrow pointed to the right icon" /></a>
    
  </body>
</html>