name: Tests

on: [push]

jobs:
  run_regression_tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Add conda to system path
        run: |
          # $CONDA is an environment variable pointing to the root of the miniconda directory
          echo $CONDA/bin >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          conda config --add channels defaults
          conda config --add channels bioconda
          conda config --add channels conda-forge
          conda install --yes --quiet snakemake-minimal snakefmt

      - name: Check if code is properly formatted
        run: snakefmt --check .

      - name: Setup project
        run: |
          mkdir /tmp/project
          cd /tmp/project
          $GITHUB_WORKSPACE/init_project.sh
          mkdir samples
          cp -R --link --force $GITHUB_WORKSPACE/testdata/*/ samples

      - name: Run Linter
        working-directory: /tmp/project
        env:
          PYTHONUNBUFFERED: 1
        run: snakemake --lint -s $GITHUB_WORKSPACE/vpipe.snake | tee /tmp/lint_result.txt
        continue-on-error: true

      - name: run test_0
        working-directory: ./tests
        run: ./test_0.sh

      - name: same with snakemake action
        uses: snakemake/snakemake-github-action@v1.19.0
        with:
          directory: /tmp/project
          snakefile: $GITHUB_WORKSPACE/vpipe.snake
          args: '--use-conda -p -j 2'
          stagein: |
            conda config --add channels defaults
            conda config --add channels bioconda
            conda config --add channels conda-forge


      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: regression test output and diffs
          path: |
            /tmp/diffs_test_0.txt
            /tmp/log_test_0.txt
            /tmp/lint_result.txt
          if-no-files-found: ignore
